.App {
  text-align: center;
}

.input-form {
  width: 190px;
  margin: 30px auto;
}

.output {
  font-size: 20px;
  text-align: center;
  width: 500px;
  height: 300px;
  margin: 20px auto;
}

.submitted {
  font-size: 30px;
  color: red;
  text-align: center;
  width: 500px;
  height: 300px;
  margin: 20px auto;
}

.status {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
